<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321903053369-f4jqqvo6ccfief17kc8irilci3c269d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321903053369-f4jqqvo6ccfief17kc8irilci3c269d6</string>
	<key>API_KEY</key>
	<string>AIzaSyDp1AgEHnfP3i5tiXGX4wBoNo8UfqAClgE</string>
	<key>GCM_SENDER_ID</key>
	<string>321903053369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ericluttmann.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-47f44</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-47f44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321903053369:ios:77071bc0ad01239f4ddbe8</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-47f44.firebaseio.com</string>
</dict>
</plist>